snippet \alpha "alpha" i
α
endsnippet

snippet \beta "beta" i
β
endsnippet

snippet \Gamma "Gamma" i
Γ
endsnippet

snippet \gamma "gamma" i
γ
endsnippet

snippet \Delta "Delta" i
Δ
endsnippet

snippet \delta "delta" i
δ
endsnippet

snippet \epsilon "epsilon" i
ϵ
endsnippet

snippet \varepsilon "varepsilon" i
ε
endsnippet

snippet \zeta "zeta" i
ζ
endsnippet

snippet \eta "eta" i
η
endsnippet

snippet \Theta "Theta" i
Θ
endsnippet

snippet \theta "theta" i
θ
endsnippet

snippet \vartheta "vartheta" i
ϑ
endsnippet

snippet \iota "iota" i
ι
endsnippet

snippet \kappa "kappa" i
κ
endsnippet

snippet \lambda "lambda" i
λ
endsnippet

snippet \Lambda "Lambda" i
Λ
endsnippet

snippet \mu "mu" i
μ
endsnippet

snippet \nu "nu" i
ν
endsnippet

snippet \xi "xi" i
ξ
endsnippet

snippet \Xi "Xi" i
Ξ
endsnippet

snippet \omikron "omikron" i
ο
endsnippet

snippet \Pi "Pi" i
Π
endsnippet

snippet \varpi "varpi" i
ϖ
endsnippet

snippet \pi "pi" i
π
endsnippet

snippet \rho "rho" i
ρ
endsnippet

snippet \varrho "varrho" i
ϱ
endsnippet

snippet \Sigma "Sigma" i
Σ
endsnippet

snippet \sigma "sigma" i
σ
endsnippet

snippet \varsigma "varsigma" i
ς
endsnippet

snippet \tau "tau" i
τ
endsnippet

snippet \upsilon "upsilon" i
υ
endsnippet

snippet \Phi "Phi" i
Φ
endsnippet

snippet \phi "phi" i
ϕ
endsnippet

snippet \varphi "varphi" i
φ
endsnippet

snippet \Chi "Chi" i
Χ
endsnippet

snippet \chi "chi" i
χ
endsnippet

snippet \Psi "Psi" i
Ψ
endsnippet

snippet \psi "psi" i
ψ
endsnippet

snippet \Omega "Omega" i
Ω
endsnippet

snippet \omega "omega" i
ω
endsnippet

snippet \quad "M space" i
 
endsnippet

snippet \qquad "2M space" i
 
endsnippet

snippet '\space' "regular space, U+2002, '\ '" i
 
endsnippet

snippet ~ "no-break space, U+2004" i
 
endsnippet

snippet \; "thick space" i
 
endsnippet

snippet \: "medium space" i
 
endsnippet

snippet \, "thin space" i
 
endsnippet

snippet \nobreakdash- "nobreakdash" i
‑
endsnippet

snippet -- "en dash" i
–
endsnippet

snippet --- "em dash" i
—
endsnippet

snippet \perthousand "permille" i
‰
endsnippet

snippet \pertenthousand "bip" i
‱
endsnippet

snippet \nicefrac12 "one half" i
½
endsnippet

snippet ^0 "superscript 0" i
⁰
endsnippet

snippet ^1 "superscript 1" i
¹
endsnippet

snippet ^2 "^2" i
²
endsnippet

snippet ^3 "^3" i
³
endsnippet

snippet ^4 "^4" i
⁴
endsnippet

snippet ^5 "^5" i
⁵
endsnippet

snippet ^6 "^6" i
⁶
endsnippet

snippet ^7 "^7" i
⁷
endsnippet

snippet ^8 "^8" i
⁸
endsnippet

snippet ^9 "^9" i
⁹
endsnippet

snippet ^\top "^\top" i
ᐪ
endsnippet

snippet ^d "^d" i
ᵈ
endsnippet

snippet ^+ "^+" i
⁺
endsnippet

snippet ^- "^-" i
⁻
endsnippet

snippet ^i "superscript i" i
ⁱ
endsnippet

snippet ^j "superscript j" i
ʲ
endsnippet

snippet ^j "superscript j" i
ᵏ
endsnippet

snippet ^m "^m" i
ᵐ
endsnippet

snippet ^n "^n" i
ⁿ
endsnippet

snippet ^p "^p" i
ᵖ
endsnippet

snippet ^r "^r" i
ʳ
endsnippet

snippet ^s "^s" i
ˢ
endsnippet

snippet ^t "^t" i
ᵗ
endsnippet

snippet ^x "^x" i
ˣ
endsnippet

snippet ^y "^y" i
ʸ
endsnippet

snippet _0 "subscript 0" i
₀
endsnippet

snippet _1 "subscript 1" i
₁
endsnippet

snippet _2 "subscript 2" i
₂
endsnippet

snippet _3 "subscript 3" i
₃
endsnippet

snippet _4 "subscript 4" i
₄
endsnippet

snippet _5 "subscript 5" i
₅
endsnippet

snippet _6 "subscript 6" i
₆
endsnippet

snippet _7 "subscript 7" i
₇
endsnippet

snippet _8 "subscript 8" i
₈
endsnippet

snippet _9 "subscript 9" i
₉
endsnippet

snippet _+ "subscript +" i
₊
endsnippet

snippet _- "subscript -" i
₋
endsnippet

snippet _i "subscript" i
ᵢ
endsnippet

snippet _j "_j" i
ⱼ
endsnippet

snippet _k "_k" i
ₖ
endsnippet

snippet _m "_m" i
ₘ
endsnippet

snippet _n "_n" i
ₙ
endsnippet

snippet _p "_p" i
ₚ
endsnippet

snippet _r "_r" i
ᵣ
endsnippet

snippet _s "_s" i
ₛ
endsnippet

snippet _t "_t" i
ₜ
endsnippet

snippet _u "_u" i
ᵤ
endsnippet

snippet _v "_v" i
ᵥ
endsnippet

snippet _x "_x" i
ₓ
endsnippet

snippet \dots "subscript" i
…
endsnippet

snippet \cdot "subscript" i
‧
endsnippet

snippet ^\prime "subscript" i
′
endsnippet

snippet ^* "asterisk" i
⃰ 
endsnippet

snippet ^\ast "asterisk" i
⃰ 
endsnippet

snippet '\mathbb C' "complex numbers" i
ℂ
endsnippet

snippet \Re "real part" i
ℜ
endsnippet

snippet \Im "imaginary part" i
ℑ
endsnippet

snippet '\mathbb H' "complex numbers" i
ℍ
endsnippet

snippet '\mathbb N' "integers" i
ℕ
endsnippet

snippet '\mathbb P' "integers" i
ℙ
endsnippet

snippet '\mathbb Q' "rational numbers" i
ℚ
endsnippet

snippet '\mathbb R' "rational numbers" i
ℝ
endsnippet

snippet '\mathbb X' "mathbb X" i
𝕏
endsnippet

snippet '\mathbb Z' "integers" i
ℤ
endsnippet

snippet \aleph "hebrew" i
ℵ
endsnippet

snippet \frac1 "fraction" i
⅟
endsnippet

snippet \to "arrow" i
→
endsnippet

snippet \mapsto "subscript" i
↦
endsnippet

snippet \partial "partial derivative" i
∂
endsnippet

snippet \emptyset "empty set" i
⦰
endsnippet

snippet \nabla "gradient" i
∇
endsnippet

snippet \in "in" i
∈
endsnippet

snippet \notin "not in" i
∉
endsnippet

snippet \prod "product" i
∏
endsnippet

snippet \sum "sum" i
∑
endsnippet

snippet \pm "plus minus" i
±
endsnippet

snippet \mp "minus plus" i
∓
endsnippet

snippet \setminus "set minus" i
∖
endsnippet

snippet \circ "circ" i
∘
endsnippet

snippet \sqrt "square root" i
√
endsnippet

snippet \infty "infinity" i
∞
endsnippet

snippet \| "parallel" i
∥
endsnippet

snippet \cap "intersection" i
∩
endsnippet

snippet \cup "union" i
∪
endsnippet

snippet \int "integeral" i
∫
endsnippet

snippet \iint "double integeral" i
∬
endsnippet

snippet \colon "colon" i
∶
endsnippet

snippet \approx "approximately" i
≈
endsnippet

snippet \coloneqq "coloneqq" i
≔
endsnippet

snippet \eqqcolon "eqqcolon" i
≕
endsnippet

snippet \ne "not equal" i
≠
endsnippet

snippet \le "less or equal" i
≤
endsnippet

snippet \ge "greater or equal" i
≥
endsnippet

snippet \ll "subscript" i
≪
endsnippet

snippet \subset "subset" i
⊂
endsnippet

snippet \supset "superset" i
⊃
endsnippet

snippet \bigcap "bigcap" i
⋂
endsnippet

snippet \bigcup "bigcap" i
⋃
endsnippet

snippet \otimes "coloneqq" i
⊗
endsnippet

snippet \times "coloneqq" i
⨯
endsnippet

snippet \cdots "subscript" i
⋯
endsnippet

snippet \\ "carriage return" i
⏎
endsnippet

snippet \left( "big bracket" i
（
endsnippet

snippet \right) "big bracket" i
）
endsnippet

snippet \Bigl( "Big bracket" i
❨
endsnippet

snippet \Bigr) "big bracket" i
❩
endsnippet

snippet \bigl( "big bracket" i
⟮
endsnippet

snippet \bigr) "big bracket" i
⟯
endsnippet

snippet \{ "curly bracket" i
❴
endsnippet

snippet \} "curly bracket" i
❵
endsnippet

snippet \euro "euro" i
€
endsnippet

snippet '\mathrm d' "diff" i
ⅾ
endsnippet

snippet \E "expectation" i
𝔼
endsnippet

snippet '\mathscr B' "mathscr B" i
ℬ
endsnippet

snippet '\mathscr F' "mathscr F" i
ℱ
endsnippet

snippet '\mathscr G' "mathscr G" i
𝒢
endsnippet

snippet '\mathscr H' "mathscr H" i
ℋ
endsnippet

snippet '\mathscr L' "mathscr L" i
ℒ
endsnippet

snippet \ell "ell" i
ℓ
endsnippet

snippet '\mathscr P' "script P" i
℘
endsnippet

snippet '\mathscr R' "script R" i
ℛ
endsnippet

snippet '\mathscr X' "script X" i
𝒳
endsnippet

snippet '\mathscr Y' "script Y" i
𝒴
endsnippet

snippet '\mathscr Z' "script Z" i
𝒵
endsnippet

snippet '\mathcal A' "\mathcal A" i
𝓐
endsnippet

snippet '\mathcal B' "\mathcal B" i
𝓑
endsnippet

snippet '\mathcal C' "\mathcal C" i
𝓒
endsnippet

snippet '\mathcal D' "\mathcal D" i
𝓓
endsnippet

snippet '\mathcal E' "\mathcal E" i
𝓔
endsnippet

snippet '\mathcal F' "\mathcal F" i
𝓕
endsnippet

snippet '\mathcal G' "\mathcal G" i
𝓖
endsnippet

snippet '\mathcal H' "\mathcal H" i
𝓗
endsnippet

snippet '\mathcal I' "\mathcal I" i
𝓘
endsnippet

snippet '\mathcal J' "\mathcal J" i
𝓙
endsnippet

snippet '\mathcal K' "\mathcal K" i
𝓚
endsnippet

snippet '\mathcal L' "\mathcal L" i
𝓛
endsnippet

snippet '\mathcal M' "\mathcal M" i
𝓜
endsnippet

snippet '\mathcal N' "\mathcal N" i
𝓝
endsnippet

snippet '\mathcal O' "\mathcal O" i
𝓞
endsnippet

snippet '\mathcal P' "\mathcal P" i
𝓟
endsnippet

snippet '\mathcal Q' "\mathcal Q" i
𝓠
endsnippet

snippet '\mathcal R' "\mathcal R" i
𝓡
endsnippet

snippet '\mathcal S' "\mathcal S" i
𝓢
endsnippet

snippet '\mathcal T' "\mathcal T" i
𝓣
endsnippet

snippet '\mathcal U' "\mathcal U" i
𝓤
endsnippet

snippet '\mathcal V' "\mathcal V" i
𝓥
endsnippet

snippet '\mathcal W' "\mathcal W" i
𝓦
endsnippet

snippet '\mathcal X' "\mathcal X" i
𝓧
endsnippet

snippet '\mathcal Y' "\mathcal Y" i
𝓨
endsnippet

snippet '\mathcal Z' "\mathcal Z" i
𝓩
endsnippet

snippet '\mathfrak X' "\mathfrak X" i
𝔛
endsnippet

snippet '\tilde A' "A tilde" i
Ã
endsnippet

snippet '\tilde B' "B tilde" i
𝘽
endsnippet

snippet '\tilde C' "C tilde" i
𝘾
endsnippet

snippet '\tilde D' "D tilde" i
𝘿
endsnippet

snippet '\tilde E' "E tilde" i
Ẽ
endsnippet

snippet '\tilde F' "F tilde" i
𝙁
endsnippet

snippet '\tilde G' "G tilde" i
𝙂
endsnippet

snippet '\tilde H' "H tilde" i
𝙃
endsnippet

snippet '\tilde I' "I tilde" i
Ĩ
endsnippet

snippet '\tilde J' "J tilde" i
𝙅
endsnippet

snippet '\tilde K' "K tilde" i
𝙆
endsnippet

snippet '\tilde L' "L tilde" i
𝙇
endsnippet

snippet '\tilde M' "M tilde" i
𝙈
endsnippet

snippet '\tilde N' "N tilde" i
Ñ
endsnippet

snippet '\tilde O' "O tilde" i
Õ
endsnippet

snippet '\tilde P' "\tilde P" i
Ꝓ
endsnippet

snippet '\tilde Q' "\tilde Q" i
𝙌
endsnippet

snippet '\tilde R' "\tilde R" i
𝙍
endsnippet

snippet '\tilde S' "\tilde S" i
𝙎
endsnippet

snippet '\tilde T' "\tilde T" i
𝙏
endsnippet

snippet '\tilde U' "\tilde U" i
Ũ
endsnippet

snippet '\tilde V' "\tilde V" i
Ṽ
endsnippet

snippet '\tilde W' "\tilde W" i
𝙒
endsnippet

snippet '\tilde X' "\tilde X" i
𝙓
endsnippet

snippet '\tilde Y' "\tilde Y" i
Ỹ
endsnippet

snippet '\tilde Z' "\tilde Z" i
𝙕
endsnippet

snippet '\tilde a' "\tilde a" i
ã
endsnippet

snippet '\tilde b' "\tilde b" i
𝙗
endsnippet

snippet '\tilde c' "\tilde c" i
𝙘
endsnippet

snippet '\tilde d' "\tilde d" i
𝙙
endsnippet

snippet '\tilde e' "\tilde e" i
ẽ
endsnippet

snippet '\tilde f' "\tilde f" i
𝙛
endsnippet

snippet '\tilde g' "\tilde g" i
𝙜
endsnippet

snippet '\tilde h' "\tilde h" i
𝙝
endsnippet

snippet '\tilde i' "\tilde i" i
ĩ
endsnippet

snippet '\tilde j' "\tilde j" i
𝙟
endsnippet

snippet '\tilde k' "\tilde k" i
𝙠
endsnippet

snippet '\tilde l' "\tilde l" i
𝙡
endsnippet

snippet '\tilde m' "\tilde m" i
𝙢
endsnippet

snippet '\tilde n' "n tilde" i
ñ
endsnippet

snippet '\tilde o' "o tilde" i
õ
endsnippet

snippet '\tilde p' "p tilde" i
𝙥
endsnippet

snippet '\tilde q' "q tilde" i
𝙦
endsnippet

snippet '\tilde r' "r tilde" i
𝙧
endsnippet

snippet '\tilde s' "s tilde" i
𝙨
endsnippet

snippet '\tilde t' "t tilde" i
𝙩
endsnippet

snippet '\tilde u' "u tilde" i
ũ
endsnippet

snippet '\tilde v' "v tilde" i
ṽ
endsnippet

snippet '\tilde w' "w tilde" i
𝙬
endsnippet

snippet '\tilde x' "x tilde" i
𝙭
endsnippet

snippet '\tilde y' "y tilde" i
ỹ
endsnippet

snippet '\tilde z' "z tilde" i
𝙯
endsnippet

snippet \tildeα "\tilde\alpha" i
𝞪
endsnippet

snippet \tildeβ "\tilde\beta" i
𝞫
endsnippet

snippet \tildeγ "\tilde\gamma" i
𝞬
endsnippet

snippet \tildeδ "\tilde\delta" i
𝞭
endsnippet

snippet \tildeϵ "\tilde\epsilon" i
𝞮
endsnippet

snippet \tildeζ "\tilde\zeta" i
𝞯
endsnippet

snippet \tildeη "\tilde\eta" i
𝞰
endsnippet

snippet \tildeθ "\tilde\theta" i
𝞱
endsnippet

snippet \tildeι "\tilde\iota" i
𝞲
endsnippet

snippet \tildeκ "\tilde\kappa" i
𝞳
endsnippet

snippet \tildeλ "\tilde\lambda" i
𝞴
endsnippet

snippet \tildeμ "\tilde\mu" i
𝞵
endsnippet

snippet \tildeν "\tilde\nu" i
𝞶
endsnippet

snippet \tildeξ "\tilde\xi" i
𝞷
endsnippet

snippet \tildeπ "\tilde\pi" i
𝞹
endsnippet

snippet \tildeπ "\tilde\rho" i
ρ
endsnippet

snippet \tildeς "\tilde\varsigma" i
𝞻
endsnippet

snippet \tildeσ "\tilde\sigma" i
𝞼
endsnippet

snippet \tildeτ "\tilde\tau" i
𝞽
endsnippet

snippet \tildeυ "\tilde\upsilon" i
𝞾
endsnippet

snippet \tildeϕ "\tilde\phi" i
𝞿
endsnippet

snippet \tildeΧ "\tilde\chi" i
𝟀
endsnippet

snippet \tildeψ "\tilde\psi" i
𝟁
endsnippet

snippet \tildeω "\tilde\omega" i
𝟂
endsnippet
